<div class="container">
  <h1 >About Me </h1>
  <div class="box">
    <div class="box1" >
      <h1>
        <i class="fa fa-code fa-4x" aria-hidden="true"></i>
      </h1>

      <h3>Developer</h3>

      <p>I'm an analytical thinker and I love the "black & white" aspect of it. My primary languages for development are JavaScript,
        PHP, Java, Visual Basic, and MySql. Also, I am familiar with AJAX & JSON, WordPress and NodeJS. </p>
    </div>

    <div class="box1" >
      <h1>
        <i class="fa fa-file-image-o fa-4x" aria-hidden="true"></i>
      </h1>

      <h3>Designer </h3>

      <p>As much as I love development, there is a part of me that enjoys design. I know design tools such as Adobe Photoshop,
        Adobe Illustrator. I love creating something that never exists before. </p>
    </div>
  </div>
</div>


<footer id="contact">
  <p>Handmade by me <i class="fa fa-copyright" aria-hidden="true"></i> 2018</p>
  <br> Contact me:
  <p> Email:
    <a href="mailto:simplewebby@outlook.com" target="_self">simplewebby@outlook.com</a>
  </p>
  <br>
</footer>
