<h1>My Work</h1>
<div class="everything">
<div class="grid-container">
  <div class="item1">

      <img class="im" src="/assets/dice.jpg" alt="">

    <h5>Lab for PHP class</h5>
    <p> Loop Tester</p>
    </div>
  <div class="item2">

      <img class="im" src="/assets/BB.jpg" alt="">

  <h5>UI design for System Analysis Class </h5>
  <p>UI design for the Building Buddy App</p>
  </div>
  <div class="item3">

    <img class="im" src="/assets/fullSc.jpg" alt="">

  <h5>HTML & CSS </h5>
  <p>Full screen landing page with HTML + CSS</p>
  </div>
  <div class="item4">

      <img class="im" src="/assets/fxPizza.jpg" alt="">

    <h5>Final Project for Programming II class</h5>
    <p>UI Design for pizza app *JavaFX*</p>
  </div>
  <div class="item5">

      <img class="im" src="/assets/HR.jpg" alt="">

    <h5>Final Project for PHP class</h5>
    <p>HR Management App with database</p>
  </div>
  <div class="item6">

      <img class="im" src="/assets/js.jpg" alt="">

    <h5>Log In page with JS </h5>
    <p> Log In page with JS </p>
  </div>
  <div class="item7">

      <img class="im" src="/assets/namman.jpg" alt="">

    <h5>UI for NAMMAN</h5>
    <p>UI design for my friend's website</p>
  </div>
  <div class="item8">

      <img class="im" src="/assets/signIn.jpg" alt="">

    <h5>Log In page with JS </h5>
    <p> Log In page with JS </p>
  </div>
  <div class="item8">

      <img class="im" src="/assets/pizza.jpg" alt="">

    <h5>Lab for PHP class </h5>
    <p>Pizza App *PHP*</p>
  </div>
</div>
</div>
<footer id="contact">
  <p>Handmade by me
    <i class="fa fa-copyright" aria-hidden="true"></i> 2018</p>
  <br> Contact me:
  <p> Email:
    <a href="mailto:simplewebby@outlook.com" target="_self">simplewebby@outlook.com</a>
  </p>
  <br>
</footer>
