<div class="content">
<h5 [@myAnim] = 'state' (mouseover)=  "animateMe()">Hi, my name is Tsagan</h5>

<div id='container' [@listAnimation] = "items.length">

<!-- <button (click)="pushItem()" >Add Item</button>
<button (click)="removeItem()">Remove Item</button> -->


<div id="list" *ngFor="let item of items">
 <p [@myAnim] = 'state' (mouseenter)= "animateMe()">{{ item }}</p>

</div>
<i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
</div>
<a id="gh" href="https://github.com/simplewebby" target="_blank">
  <i class="fa fa-github fa-3x" aria-hidden="true"></i>
</a>
</div>
<footer id="contact">
  <p>Handmade by me
    <i class="fa fa-copyright" aria-hidden="true"></i> 2018</p>
  <br> Contact me:
  <p> Email:
    <a href="mailto:simplewebby@outlook.com" target="_self">simplewebby@outlook.com</a>
  </p>
  <br>
</footer>
